body {
    font-family: sans-serif;
    background-color: #fff;
  }
  
  header {
    background-color: #000;
    color: #fff;
    padding: 20px;
  }
  
  h1 {
    font-size: 30px;
    font-weight: bold;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  ul {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    color: #000;
  }
  
  a:hover {
    color: #fff;
  }
  